@media only screen and (min-width:769px) {
    .menu-toggle {
      display: none;
    }
}


@media only screen and (max-width: 768px) {
  header {
    position: static;
    height: 104px;
    max-height: 104px;
    overflow: visible;

    & #container-header {
      & button {
        width: auto;
        height: auto;
      }
      & .button-nav {
        display: none;
      }
    }
  }

  .nav-menu.hidden{
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    opacity: 0;
    transform: translateY(-500px);
    pointer-events: none;
    
  }

  .nav-menu.active {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: white;
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    padding: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 5;
    text-align: center;
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
    transition: opacity 0.5s cubic-bezier(0.77, 0, 0.18, 1),
      transform 0.5s cubic-bezier(0.77, 0, 0.18, 1);
  }

  /* Oculta menu padrão */
  .nav-menu ul {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }

  /* Mostra botão hamburguer */
  .menu-toggle {
    display: block;
    background: none;
    border: none;
    z-index: 6;
    transition: transform 0.3s ease;
  }

  /* Oculta segundo ícone do SVG (ícone de "X") por padrão */
  .menu-toggle svg:nth-child(2) {
    display: none;
  }

  /* Quando menu estiver aberto, troca ícones */
  .menu-open .menu-toggle {
    transform: rotate(90deg);
  }

  /* Quando menu estiver aberto, troca ícones */
  .menu-open .menu-toggle svg:nth-child(1) {
    display: none;
  }

  .menu-open .menu-toggle svg:nth-child(2) {
    display: inline;
    transition: opacity 1s ease;
  }
}
