body {
  background-color: white;
  color: rgb(34, 34, 34);
  font-family: poppinsregular;
  max-width: 1200px;
  margin: 0 auto; /* Se concentre tudo no meio */
  padding: 1rem; /*antes 15px */
}

header {
  display: flex;
  /* flex-direction: row;*/
  flex-wrap: wrap; /* permite o header quebrar para a proxima linha se houver necessidade */
  justify-content: space-between;
  align-items: center;
}

#title {
  flex-direction: column;
  line-height: 10px;
  font-family: poppinsmedium;
}

li {
  display: inline-block;
  margin: 1rem; /* antes 20px */
}

a {
  text-decoration: none;
  color: rgb(34, 34, 34);
}
a:hover {
  /* Efeito quando mouse passa em cima */
  color: rgb(132, 14, 20);
  transition: 0.3s all; /* Para demorar até fazer o efeito completo */
}

#inscreva-se-btn {
  border: 2px solid rgb(132, 14, 20);
  padding: 0.6rem 1.5rem; /* antes 10px */
  border-radius: 20px;
}

#inscreva-se-btn:hover {
  background-color: rgb(132, 14, 20);
  color: white;
}

h1 {
  font-weight: 200;
  font-size: 2.5rem; /* linha nova */
}

main {
  display: flex;
  flex-direction: row;
  margin-top: 3rem; /* antes 50px */
  gap: 2rem; /* Adiciona espaçamento entre os elementos */
}

h2 {
  font-size: 3.2rem; /* antes 56px */
  max-width: 30rem; /* antes 500px largura máxima do paragrafo até quebrar a linha.*/
  line-height: 45px;
  font-family: poppinsmedium;
}

span {
  color: rgb(132, 14, 20);
}

#paulo {
  color: rgb(132, 14, 20);
  font-family: poppinsbold;
}

#tarso {
  color: rgb(132, 14, 20);
  font-family: poppinsbold;
}

p {
  line-height: 20px;
  max-width: 30rem; /* antes 500px largura máxima do paragrafo até quebrar a linha.*/
  font-family: poppinslight;
  text-align: justify;
}

img {
  width: 100%; /* antes 580px */
  max-width: 35rem; /* linah nova */
  height: auto; /* linha nova */
}

form {
  display: flex;
  flex-direction: column;
  width: 70%; /* 70% do tamanho do elemento pai dele */
  gap: 0.5rem; /* Adiciona espaço entre os campos */
}

form [type="submit"] {
  height: 3rem; /* antes 50px */
  width: 50%;
  background-color: rgb(132, 14, 20);
  color: white;
  font-weight: bold;
}

form [type="submit"]:hover {
  cursor: pointer;
}

input {
  margin-top: 1rem; /* antes 20px */
  height: 1rem; /* antes 20px */
  padding: 1rem; /* antes 15px */
  border-radius: 15px;
  border: 2px solid rgb(132, 14, 20);
  font-size: 1rem; /* antes 15px */
}

footer {
  background-color: rgb(246, 245, 245); /* Cor de fundo do footer */
  color: rgb(34, 34, 34); /* Cor do texto */
  padding: 10px 0; /* Espaçamento interno */
  margin-top: 40px; /* Espaçamento acima do footer */
}
#info_footer {
  font-family: poppinsbold
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto; /* Centralizar o conteúdo */
  padding: 0 20px; /* Espaçamento interno */
}

.footer-links {
  list-style: none; /* Remover marcadores da lista */
  padding: 0; /* Remover padding padrão */
  margin: 0; /* Remover margem padrão */
  display: flex; /* Ativar Flexbox */
  flex-direction: column; /* Colocar os itens em coluna (um embaixo do outro) */
  align-items: center; /* Centralizar os links */
}

.footer-links li {
  margin: 0; /* Remove margens */
  padding: 0; /* Remove paddings */
}


