
header {
  position: sticky; /* Fixa o header no topo */
  top: 0; /* Alinha o header no topo da página */
  left: 0;
  width: 100%;
  z-index: 9999;
  width: 92vw; /* Faz o header ocupar toda a largura da tela */
  margin: 0 auto;
  justify-content: center;
  padding: 0 20px;

  font-family: 'Montserrat', sans-serif;
  font-size: 0.9rem;

  & .logo img {
    width: 100px;
  }

  & #container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 92vw;
    
    & nav {
      width: 100%;

      & ul {
        display: flex;
        justify-content: space-around;
        list-style: none;

        & li {
          position: relative;
          line-height: 15px;
          margin-right: 20px;
        }
      }
    }

    & button {
      height: calc(100% + 3px);
      width: calc(100% + 3px);
      cursor: pointer;
    }
  }

  background-color: white;
  z-index: 10; /* Garante que o header fique acima de outros elementos */
  box-shadow: 0 2px 5px -6px rgba(0, 0, 0, 0.9); /* Adiciona uma sombra para destacar o header */

}

body {
  background-color: white;
  color: rgb(34, 34, 34);
  font-family: poppinsregular;
  margin: 0 ; /* todas as margem com 0 */
  padding: 0; /* sem espaçamento interno */

}

main {
  width: 92vw;
  margin: 0 auto;
}


.btn {
  display: block;
  text-decoration: none;
  cursor: pointer;
  color: rgb(34, 34, 34);
  max-width: 100%;
  border-radius: 30px;
  padding: 14px 35px;
  width: max-content;
  border: 1.5px solid rgba(0, 0, 0, 0);
  border-radius: 30px;
  background-image: linear-gradient(90deg, rgb(78, 0, 17) 0%, rgb(145, 4, 35) 100%);
  color: white;
}

.wrapper-style-body {
  margin: 0 auto; /* Para centralizar o conteúdo horizontalmente*/
  padding: 1rem; 
}



  
